.nav {
    width: 92vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color:white;
    padding: 0px 50px;
}

a {
    text-decoration: none;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    background-color: #0f0f0f;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: start;
    justify-content: space-around;
    width: 50%;
}

.title {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.title h2 {
    margin: 0px;
    width: 50vw;
    color: white;
}

.title p {
    margin: 0px;
    font-weight: 600;
    color: green;

}

.carritoButton {
    border: none;
    border-radius: 5px;
    background-color: #f7ff19;
    color: #000;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 800;
}

.articulo {
    width: 85vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    background-color: #272727;
    border-radius: 10px;
}

img {
    border-radius: 10px 0px 0px 10px;
}


h2 {
    font-size: 40px;
}

@media screen and (max-width: 768px) {
    .articulo {
        flex-direction: column;
        gap: 20px;
        padding-right: 0px;
    }

    main {
        height: 100%;
        margin-top: 100px;
    }
}

.text {
    width: 500px;
    color: white;
}